
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-4 col-md-12 mb-5">
                <h1 class="mb-3 display-5 text-capitalize text-white"><span class="text-primary">PARTY&</span>EVENTS</h1>
                <p class="m-0">Sobre esto...</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4">Donde encontrarnos</h5>
                        <p><i class="bi bi-geo-alt-fill mr-2"></i>123 Calle, La Habana, Cuba</p>
                        <p><i class="bi bi-telephone-fill mr-2"></i>+53 55829123</p>
                        <p><i class="bi bi-envelope-fill mr-2"></i>info@example.com</p>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="bi bi-twitter"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="bi bi-facebook"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="bi bi-linkedin"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4">Rutas populares</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-white mb-2" href="/inicio"><i class="bi bi-caret-right-fill mr-2"></i>Inicio</a>
                            <a class="text-white mb-2" href="/about"><i class="bi bi-caret-right-fill mr-2"></i>Sobre el sitio</a>
                            <a class="text-white mb-2" href="/servicios"><i class="bi bi-caret-right-fill mr-2"></i>Nuestros Servicios</a>
                            <a class="text-white mb-2" href="/precios"><i class="bi bi-caret-right-fill mr-2"></i>Precios</a>
                            <a class="text-white" href="/contactos"><i class="bi bi-caret-right-fill mr-2"></i>Contáctanos</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4">Tu valoración</h5>
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control border-0" placeholder="Nombre y apellidos" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0" placeholder="Correo electrónico" required="required" />
                            </div>
                            <div>
                                <button class="btn btn-lg btn-primary btn-block border-0" type="submit">Enviar ahora</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-white py-4 px-sm-3 px-md-5" style="background: #1976d2;">
        <div class="row">
            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white">
                    &copy; <a class="text-white font-weight-bold" href="#">Dilo con globos</a>. Todos los derechos reservados. @2024
                    <!-- <a class="text-white font-weight-bold" href="https://htmlcodex.com">HTML Codex</a> -->
                </p>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <ul class="nav d-inline-flex">
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Privacidad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Términos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" href="#">Ayuda</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="" class="btn btn-lg btn-primary back-to-top"><i class="bi bi-caret-up-fill"></i></a>
